[submodule "engine/externals/stb"]
	path = engine/externals/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/externals/spdlog"]
	path = engine/externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/externals/glm"]
	path = engine/externals/glm
	url = https://github.com/g-truc/glm
[submodule "engine/externals/glfw"]
	path = engine/externals/glfw
	url = https://github.com/glfw/glfw
